*.o
*.a
bin
ar-lib
.deps
.dirstamp
Makefile
Makefile.in
Makefile.old
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
generated/
install-sh
missing
test-suite.log
test-driver
